__pycache__/
build/*
doc/build
dist/*
*egg-info/*
*.mcnp
.coverage
htmlcov/
htmlcov
.mutmut-cache
.idea/*
*.*.sw*
*.prof
doc/build/*
.coverage
.hypothesis/
.idea/
.ipynb_checkpoints/
montepy/_version.py
