image: python:latest

#before_script:
#  - python --version
#  - export PATH="~/.local/bin:$PATH"


install:
  stage: build
  script:
    - echo "setting up conda"
    - conda create -n experiment_analysis_mcnpy python
    - conda activate experiment_analysis_mcnpy
    - echo "Installing dependencies"
    - which python
    - which pip
    - python -m pip install --user -r requirements/dev.txt
    - python setup.py sdist bdist_wheel
    - python -m pip install --user dist/*.whl --force-reinstall
      # test the extras installation
    - python setup.py install easy_install --user mcnpy[test]
    - python setup.py install easy_install --user mcnpy[doc]
    - python -m pip freeze



unit_test:
  stage: test
  coverage: '/TOTAL.+ ([0-9\.]{1,5}%)/'
  script:
    - echo "setting up conda"
    - conda activate experiment_analysis_mcnpy
    - echo "Executing unit tests"
    - which python
    - python -m pip freeze
    - python -m coverage run --source mcnpy -m pytest --junitxml=test_report.xml
    - python -m coverage report -m --precision=2
    - python -m coverage xml
  artifacts:
    reports:
      junit: test_report.xml
      coverage_report:
         coverage_format: cobertura
         path: coverage.xml

doc_test:
   stage: test
   script:
      - echo "Executing Sphinx build to detect syntax errors"
      - sphinx-build doc/source/ doc/build/ -W --keep-going -E

format_test:
  stage: test
  script: 
    - echo "Testing if anything is unformatted"
    - echo "If error occurs changes were not formatted using black"
    - black --check mcnpy/ tests/


deploy1:
  stage: deploy
  script:
    - echo "No deploy required for the moment"


pages:
  stage: deploy
  script:
    - echo "Building documentation with Sphinx."
    - cd doc/
    - make html
    - cd ..
    - mv doc/build/html public
    - python setup.py bdist_wheel
    - mv dist/ public/dist
  artifacts:
    paths:
      - public
  only:
    - master
    - doc
