image: python:latest

before_script:
  - python --version
  - export PATH="~/.local/bin:$PATH"


install:
  stage: build
  script:
    - echo "Installing dependencies"
    - pip install --user -r requirements/dev.txt
    - python setup.py sdist bdist_wheel
    - pip install --user dist/*.whl --force-reinstall
      # test the extras installation
    - python setup.py install easy_install --user mcnpy[test]
    - python setup.py install easy_install --user mcnpy[doc]


unit_test:
  stage: test
  coverage: '/TOTAL.+ ([0-9\.]{1,5}%)/'
  script:
    - echo "Executing unit tests"
    - coverage run --source mcnpy --branch -m pytest --junitxml=test_report.xml
    - coverage report -m --precision=2
    - coverage xml
  artifacts:
    reports:
      junit: test_report.xml
      coverage_report:
         coverage_format: cobertura
         path: coverage.xml

doc_test:
   stage: test
   script:
      - echo "Executing Sphinx build to detect syntax errors"
      - sphinx-build doc/source/ doc/build/ -W --keep-going -E
      - sphinx-build -b singlehtml -D html_theme=basic doc/source/ doc/build/singlehtml/
   artifacts:
     expose_as: 'Updated Documentation'
     paths: 
       - doc/build/singlehtml/index.html
     expire_in: 1 day


deploy1:
  stage: deploy
  script:
    - echo "No deploy required for the moment"


pages:
  stage: deploy
  script:
    - echo "Building documentation with Sphinx."
    - cd doc/
    - make html
    - cd ..
    - mv doc/build/html public
    - python setup.py bdist_wheel
    - mv dist/ public/dist
  artifacts:
    paths:
      - public
  only:
    - master
    - doc
