__pycache__/
build/*
doc/build
doc/source/api/generated
doc/source/.cache
doc/source/_contents
doc/_output
dist/*
*egg-info/*
*.mcnp
.coverage
htmlcov/
htmlcov
.mutmut-cache
.idea/*
*.*.sw*
*.prof
*.whl
*.tar.gz
doc/build/*
.coverage
.hypothesis/
.idea/
.vscode/
.venv/
.ipynb_checkpoints/
montepy/_version.py
.vscode/
.jupyterlite.doit.db

# various testing results
htmlcov
.hypothesis
.mutmut-cache
