name: CI testing

on: 
  pull_request:
    branches: [develop, alpha-test-dev, alpha-test, minor-rel-dev]
  push: 
     branches: [develop, main, alpha-test, minor-rel-dev]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-depth: 0
          fetch-tags: true
      - name: set up python  ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with: 
          python-version: ${{ matrix.python-version }}
      - run: pip install --upgrade pip
      - run: pip install .[build]
      - name: Get Version
        id: get_version
        run: python -m setuptools_scm
      - run: python -m build --sdist --wheel
      - run: pip install .
      - run: pip uninstall -y montepy
      - run: pip install --user dist/*.whl
        # run scripts
      - run: change_to_ascii -h
      - run: pip uninstall -y montepy
      - run: pip install --user dist/*.tar.gz
      - run: pip install --user . montepy[test]
      - run: pip install --user . montepy[doc]
      - run: pip install --user . montepy[format]
      - run: pip install --user . montepy[build]
      - run: pip install --user . montepy[develop]
      - run: pip freeze
      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        if: ${{ matrix.python-version == '3.13'}}
        with: 
           name: build
           path: dist/*

  test:
    runs-on: ubuntu-latest
    permissions: 
      actions: write
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        numpy-version: ["2.0", "2.3"]
        sly-version: ["0.5"]
        include:
          - python-version: "3.13"
            numpy-version: "2.3"
            sly-version: "0.4"
    
    steps:
      - uses: actions/checkout@v6
      - name: set up python  ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with: 
          python-version: ${{ matrix.python-version }}
      - run: pip install numpy~=${{ matrix.numpy-version }}
        name: install specific numpy version
      - run: pip install sly~=${{ matrix.sly-version }}
        name: install specific sly version
      - run: pip install --user . montepy[test,build]
      - run: pip uninstall -y pytest-profiling
        name: Uninstall incompatible library
        if: ${{ matrix.python-version == '3.13' }}
      - run: pip freeze
      - run: coverage run -m pytest --junitxml=test_report.xml
      - run: coverage report
        if:  ${{ success() || failure() }}
      - run: coverage xml
        if:  ${{ success() || failure() }}
      - name: Upload test report
        if: ${{ matrix.python-version == '3.14' && matrix.numpy-version == '2.3' && (success() || failure() )}}
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: test_report.xml
      - name: Upload coverage report
        if: ${{ matrix.python-version == '3.14' && matrix.numpy-version == '2.3' && (success() || failure() )}}
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.xml
      - name: Coveralls GitHub Action
        if: ${{ matrix.python-version == '3.14' && matrix.numpy-version == '2.3' && (success() || failure() )}}
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e
        with:
          file: coverage.xml
          fail-on-error: false
          format: cobertura
  



  doc-build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: set up python 3.12
        uses: actions/setup-python@v6
        with: 
          python-version: 3.14
      - run: pip install . montepy[doc,build]
      - run: cd doc && make html SPHINXOPTS="-W --keep-going -E"
        name: Build site strictly
      - uses: actions/upload-artifact@v5
        with:
          name: website
          path: doc/build
      - name: Test for broken hyperlinks
        run: |
             cd doc
             make linkcheck
  
  doc-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: set up python 3.14
        uses: actions/setup-python@v6
        with: 
          python-version: 3.14
      - run: pip install . montepy[doc,build,demo-test,test]
      - run: python -m phmutest README.md --replmode --log
        name: Test readme code
      - run: | 
          cd doc
          make doctest
        name: Test all example code in documentation.
      - run: |
          cd demo/answers
          for file in *.ipynb; do papermill $file foo.ipynb; done
        name: Test all demo notebooks 

  format-test:
    runs-on: ubuntu-latest
    
    steps:

      - uses: actions/checkout@v6
      - name: set up python 3.14
        uses: actions/setup-python@v6
        with: 
          python-version: 3.14
      - run: pip install . montepy[format]
      - run: black --check montepy/ tests/
  
  profile:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      - name: set up python 3.14
        uses: actions/setup-python@v6
        with: 
          python-version: 3.14
      - run: pip install . montepy[test]
      - run: pytest --profile
        name: Profile test suite
      - run: python prof/dump_results.py
        name: Display pytest profiling data
      - run: python prof/profile_big_model.py
        name: Profile against big model
  
  benchmark:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      - name: set up python 3.14
        uses: actions/setup-python@v6
        with: 
          python-version: 3.14
      - run: pip install . montepy[test]
      - run: python benchmark/benchmark_big_model.py  
        name: Benchmark against big model

        
  changelog-test:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    
    steps:
      - uses: actions/checkout@v6
      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            changelog:
              - 'doc/source/changelog.rst'
            code:
              - 'montepy/**'
      - if: (steps.changes.outputs.changelog == 'false') && steps.changes.outputs.code == 'true'
        run: |
          echo "Changelog not updated"
          exit 1
